%section
  = to_markup 'title_and_breadcrumb', {title: title, nav: nav}
  %h4 Tags
  - if tags.empty?
    %p
      %em= I18n.t("pictures.no_result_found")
  - else
    %div#tags
      - tags.each do |tag_name|
        %button.tag{ type: 'button', onclick: 'filterByTag("' + tag_name + '");' }
          = tag_name
  %h4= I18n.t("pictures.nav.#{group_key}")
  - if groups.empty?
    %p
      %em= I18n.t("pictures.no_result_found")
  - else
    %ul.groups
      - groups.each do |group_name|
        %li{ title: group_name }
          %a{ onclick: 'openImagesGallery("' + gallery_url(group_key, group_name, filters) + '");' }
            %figure
              %div{ style: 'background-image: url("api/group_thumbnail?' + group_key + '=' + group_name + '")' }
              %figcaption
                = group_name
                - group_brief = api_group_brief({ group_key => group_name })
                - unless group_brief.empty?
                  %br
                  %em= group_brief
